traefik:
  service:
    type: LoadBalancer
    annotations:
      metallb.universe.tf/loadBalancer-ips: "192.168.1.210"

  ingressRoute:
    dashboard:
      enabled: true

  logs:
    access:
      enabled: true

  persistence:
    enabled: true

  podSecurityContext:
    runAsGroup: 65532
    runAsUser: 65532

  initContainers:
    - name: setup-acme-file
      image: busybox:1.35
      command:
        - sh
        - -c
        - |
          touch /data/acme.json
          chown 65532:65532 /data/acme.json
          chmod 600 /data/acme.json
      volumeMounts:
        - name: data
          mountPath: /data

  certificatesResolvers:
    myresolver:
      acme:
        email: "$(ACME_EMAIL)"
        storage: "/data/acme.json"
        caServer: "https://acme-v02.api.letsencrypt.org/directory"
        dnsChallenge:
          provider: cloudflare
          delayBeforeCheck: 90

  env:
    - name: LEGO_DISABLE_CNAME_SUPPORT
      value: "true" # tell lego to ignore the wildcard cname on my dns

    - name: ACME_EMAIL # not super important, just for certificate notifications
      valueFrom:
        secretKeyRef:
          name: cloudflare-api-secret
          key: email

    - name: CF_DNS_API_TOKEN
      valueFrom:
        secretKeyRef:
          name: cloudflare-api-secret
          key: dns-api-token
