argo-cd:
  configs:
    params:
      server.insecure: true
  applications:
    app-of-apps:
      project: default
      source:
        repoURL: git@github.com:MichaelMuz/homelab.git
        targetRevision: HEAD
        path: kubernetes/apps/app-of-apps
      destination:
        server: https://kubernetes.default.svc
        namespace: argocd
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
