kube-prometheus-stack:
  grafana:
    additionalDataSources:
      - name: Loki
        type: loki
        url: http://monitoring-loki:3100

    persistence:
      enabled: true
      size: 5Gi

  prometheus:
    prometheusSpec:
      retention: 10d
      storageSpec:
        volumeClaimTemplate:
          spec:
            resources:
              requests:
                storage: 10Gi

  alertmanager:
    alertmanagerSpec:
      storage:
        volumeClaimTemplate:
          spec:
            resources:
              requests:
                storage: 2Gi

loki:
  deploymentMode: SingleBinary
  loki:
    auth_enabled: false
    commonConfig:
      replication_factor: 1
    storage:
      type: "filesystem"
    schemaConfig:
      configs:
        - from: 2024-04-01
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: index_
            period: 24h
    limits_config:
      retention_period: 7d
  singleBinary:
    replicas: 1
    persistence:
      enabled: true
      size: 10Gi
  # Disable multi-component deployment
  chunksCache:
    enabled: false
  resultsCache:
    enabled: false
  gateway:
    enabled: false
  test:
    enabled: false
  lokiCanary:
    enabled: false
  backend:
    replicas: 0
  read:
    replicas: 0
  write:
    replicas: 0

promtail:
  config:
    clients:
      - url: http://monitoring-loki:3100/loki/api/v1/push
